<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <form action="set_cookie" method="post">
        <label for="username"> Введите имя: </label>
        <input type="text" id = "username" name = "username" required>
        <br>
        <label for="email"> Введите email: </label>
        <input type="text" id = "email" name = "email" required>
        <button type="sumbit"> Отправить данные</button>

    </form>
</body>
</html>