<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Интернет магазин</title>
</head>
<body>
    <h1>Интернет магазин</h1>

    {% if user_table %}
        <h2>Пользователи:</h2>
        {{ user_table | safe }}
    {% endif %}

    {% if product_table %}
        <h2>Товары:</h2>
        {{ product_table | safe }}
    {% endif %}

    {% if order_table %}
        <h2>Заказы:</h2>
        {{ order_table | safe }}
    {% endif %}
</body>
</html>